<!-- Header -->
  <header id="header">
    <div class="inner" id="myLogo">
      <div class="to-left">
      <!-- Logo -->
       
        <a class="to-left" href="/">
          <i class="fa fa-2x fa-globe"></i>
        </a>
      </div>
      <div class="to-right">
         <a href="http://josedelavalle.com" class="logo">
          <span class="symbol">
            <img src="images/jdLogo.png" alt="" />
          </span>
        </a>
      </div>

      <!-- Nav -->
        <!-- <nav>
          <ul>
            <li><a href="#menu">Menu</a></li>
          </ul>
        </nav> -->

    </div>
  </header>
