<!-- Header -->
  <header id="header">
    <div class="inner">

      <!-- Logo -->
        <a href="http://josedelavalle.com" class="logo">
          <span class="symbol">
            <img src="images/jdLogo.png" alt="" />
          </span>
        </a>
        <a href="/"><span class="title logo" ng-bind="$parent.headerTitle"></span></a>
        </a>

      <!-- Nav -->
        <!-- <nav>
          <ul>
            <li><a href="#menu">Menu</a></li>
          </ul>
        </nav> -->

    </div>
  </header>
