

<!-- <div ng-include="'partials/menu.html'"></div> -->

<!-- Main -->
  <div id="main">
    <div class="inner">
      <div class="stateHeader fixed">
      <div ng-include="'partials/header.html'"></div>
        
        <div id="stateHeader" class="row counties border-bottom">
          <div class="1u">
            <a href="/1?s={{prevState}}">
              <h1 class="icon fa-chevron-left"></h1>
            </a>
          </div>
          <div class="10u">
            <h1 animate-on-change='stateFullName'>{{state.name}}</h1>
            <input type="text" ng-model="search" placeholder="Filter {{state.name}}'s Counties">
          </div>
          <div class="1u">
            <a href="/1?s={{nextState}}">
              <h1 class="icon fa-chevron-right"></h1>
            </a>
          </div>
        
        </div>
        
      </div>
      <div id="thisImage" class="image main">
        <div id="imageContainer" class="imageContainer" style="background-image: url('{{state.image}}');">
          <!-- <img src="{{stateImage}}" alt="{{stateFullName}}" onerror="if (this.src != 'error.jpg') this.src = 'images/pic13.jpg';"/></span> -->
        </div>
      
      <div class="row counties">
          <div class="12u state-info border-bottom">
            <p animate-on-change='stateImageText'>{{state.imagetext}}</p>
          </div>
        </div>
        
        <br />
        <div class="row counties">
          
        
          <div class="4u 6u(medium) 12u(small)" ng-repeat="detail in stateDetails | filter:{ name: search } | orderBy:['-fav','name']">
            <div class="county">
              <h2 class="margin-0">
                <a target="_blank" href="{{detail.url}}" class="icon style1 {{icons[$index % icons.length]}}"></a>
                <a target="_blank" href="{{detail.url}}">{{detail.name.replace('County','')}}</a>
              </h2>
              <div class="button-row">
                <div ng-click="favorite(detail)" ng-class="{'fa-heart': detail.fav, 'fa-heart-o': !detail.fav}" class="button-container pull-left fa"></div>
                <div ng-show="!detail.photos && !detail.nophotos" id="camera-icon" ng-click="getPhotos(detail)" class="button-container pull-right fa fa-camera"></div>
                <div ng-show="detail.photos" id="camera-icon" ng-click="detail.photos=null" class="button-container pull-right fa fa-map"></div>
              </div>
              <img ng-if="!detail.photos" class="image" ng-src="{{imagery[detail.name]}}" ng-init="getLocation(detail)"/>
              <img ng-if="detail.photos" ng-click="openModal(detail)"class="image" src="{{detail.photos.photo[detail.ndx].url_m}}" />
              <p class="image-coords">
                <i ng-show="detail.photos" class="fa fa-chevron-left" ng-click="goPrev(detail)"></i>
                
                <span ng-if="detail.photos">{{detail.photos.photo[detail.ndx].title}}</span>
                <span ng-class="{'small':detail.photos}">latitude: {{detail.primary_latitude}}, longitude: {{detail.primary_longitude}}</span>
                <i ng-show="detail.photos" class="fa fa-chevron-right" ng-click="goNext(detail)"></i>
              </p>
            
            </div>

            
            <a target="_blank" href="{{detail.url}}" ng-init="detail.showlink=false">
              <div class="button big gov-link" ng-mouseenter="detail.showlink=true" ng-mouseleave="detail.showlink=false">
                <span ng-show="!detail.showlink">Government Website</span>
                <span class="url-text" ng-show="detail.showlink">{{detail.url.replace('http://','').replace("www.","").replace("/","")}}</span>
              </div>
              
            </a>
           
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

