

<!-- <div ng-include="'partials/menu.html'"></div> -->

<!-- Main -->
  <div id="main">
    <div class="inner">
      <div class="stateHeader">
      <div ng-include="'partials/header.html'"></div>
        
        <div id="stateHeader" class="row counties">
          <div class="4u">
            <a href="/1?s={{prevState}}">
              <h1 class="icon fa-chevron-left"></h1>
            </a>
          </div>
          <div class="4u">
            <h1 animate-on-change='stateFullName'>{{stateFullName}}</h1>
            <input type="text" ng-model="search" placeholder="filter counties">
          </div>
          <div class="4u">
            <a href="/1?s={{nextState}}">
              <h1 class="icon fa-chevron-right"></h1>
            </a>
          </div>
        
        </div>
        
      </div>
      <div id="thisImage" class="image main">
        <div id="imageContainer" class="imageContainer" style="background-image: url('{{stateImage}}');">
          <!-- <img src="{{stateImage}}" alt="{{stateFullName}}" onerror="if (this.src != 'error.jpg') this.src = 'images/pic13.jpg';"/></span> -->
        </div>
      
      <div class="row counties">
          <div class="12u">
            <p animate-on-change='stateImageText'>{{stateImageText}}</p>
          </div>
        </div>
        
        <br />
        <div class="row counties">
          
        
          <div class="4u 6u(medium) 12u(small)" ng-repeat="detail in stateDetails | filter:{ name: search } | orderBy:'name'">
            <div class="county">
            <h2>
              <a target="_blank" href="{{detail.url}}" class="icon style1 {{icons[$index % icons.length]}}"></a>
              <a target="_blank" href="{{detail.url}}">{{detail.name.replace('County','')}}</a>
            </h2>
            <p>latitude: {{detail.primary_latitude}}, longitude: {{detail.primary_longitude}}</p>
            <div class="button big"">
              <div class="pinned" ng-if="!detail.clicked" ng-click="getLocation(detail.primary_latitude, detail.primary_longitude, detail.name);detail.clicked=true;">Get Map</div>
              <div ng-if="detail.clicked&&!detail.showRemove" ng-click="getAllLocations();">Get All</div>
              <div ng-if="detail.showRemove" ng-click="detail.removed=true;detail.showRemove=false;">Remove</div>

            </div>
            
            

            <a target="_blank" href="{{detail.url}}">
                  <img class="image" ng-if="!detail.removed" ng-src="{{imagery[detail.name]}}" />
            </a>
            <hr>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
