<div ng-include="'partials/header.html'"></div>

<!-- <div ng-include="'partials/menu.html'"></div> -->

<!-- Main -->
  <div id="main">
    <div class="inner">

      <div class="row counties">
        <div class="4u">
          <h1 class="icon fa-chevron-left" ng-click="goBack()"></h1>
        </div>
        <div class="4u">
          <h1 animate-on-change='stateFullName'>{{stateFullName}}</h1>
        </div>
        <div class="4u">
          <h1 class="icon fa-chevron-right" ng-click="goForward()"></h1>
        </div>
      </div>

      <b animate-on-change='stateImageText'>{{stateImageText}}</b>
      <span class="image main">
        <div class="imageContainer" style="background-image: url('{{stateImage}}');">
          <!-- <img src="{{stateImage}}" alt="{{stateFullName}}" onerror="if (this.src != 'error.jpg') this.src = 'images/pic13.jpg';"/></span> -->
        </div>
        <input type="text" ng-model="search" placeholder="filter me">
        <br />
        <div class="row counties">
          <div class="4u 6u(medium) 12u(small)" ng-repeat="detail in stateDetails | filter:{ name: search } | orderBy:name:false">
            <h2>
              <a target="_blank" href="{{detail.url}}" class="icon style1 {{icons[$index % icons.length]}}"></a>
              <a target="_blank" href="{{detail.url}}">{{detail.name}}</a>
            </h2>
            <p>latitude: {{detail.primary_latitude}}, longitude: {{detail.primary_longitude}}</p>
            <div class="button big"">
              <div class="pinned" ng-if="!detail.clicked" ng-click="getLocation(detail.primary_latitude, detail.primary_longitude, detail.name);detail.clicked=true;">Get Map</div>
              <div ng-if="detail.clicked&&!detail.showRemove" ng-click="getAllLocations();">Get All</div>
              <div ng-if="detail.showRemove" ng-click="detail.removed=true;detail.showRemove=false;">Remove</div>

            </div>
            
            

            <a target="_blank" href="{{detail.url}}">
                  <img class="image" ng-if="!detail.removed" ng-src="{{imagery[detail.name]}}" />
            </a>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
