<div ng-include="'partials/header.html'"></div>

<!-- <div ng-include="'partials/menu.html'"></div> -->

<!-- Main -->
  <div id="main">
    <div class="inner">
      <header>
        <h1>The 50 States - All Dressed Up</h1>
        <p>Web App that pulls United States State information from various REST APIs and collates data into an asetically pleasing web repository</p>
        <input type="text" ng-model="search" placeholder="filter me">
        <br />
      </header>
      <section class="tiles">
        <article class="style{{$index % 6 + 1}}" ng-repeat="state in states | filter:{ name: search }">
          <span class="image">
            <img ng-src="images/png/{{state.name.split(' ').join('-').toLowerCase()}}.png" alt="" />
          </span>
          <a href="./1?s={{state.abbreviation}}">
            <h2>{{state.name}}</h2>
            <div class="content">
              <i>{{state.motto}}</i><br />
              <b>{{state.translation}}</b>
            </div>
          </a>
        </article>
      </section>
    </div>
  </div>
