///
/// Phantom by Pixelarity
/// pixelarity.com @pixelarity
/// License: pixelarity.com/license
///

/* Main */

	#main {
		@include padding(5em, 0, (-5em, 0, 3em, 0));

		@include breakpoint(small) {
			@include padding(3em, 0, (-3em, 0, 3em, 0));
		}
	}

	.counties {
		display: flex;
		flex-wrap: wrap;
	}

	.county {
		padding-top:15px;
		padding-bottom:10px;
		.inner {
    		border-bottom: 1px #ddd solid;
    		height: 100%;
    	}

	}
	.imageContainer {
		z-index: 9998;

	}
	#filter-text {
		padding-bottom: 40px;
	}
	#imageText {
		position: fixed;
		width:70%;
	}
	.to-left {
		position:fixed;
		top:0;
		left:0;
		padding:0;
		margin:0;
		z-index: 7999;
	}
	.to-right {
		position: fixed;
		top: 0;
		right: 0;
		padding: 0;
		margin: auto;
		z-index: 7999;
	}
	.go-back {
		position: absolute;
		right: 0;
		top: 0;
	}
	#stateHeader {
		z-index:2000;
		// position: fixed;
		padding:0;
		width:100%;
		margin: 0 auto;
		

	}
	.logoFixed {
		position: fixed;
		left:0;
		padding:0;
		margin:auto;
		z-index:3000;
	}
	.imageFixed {
		position: fixed;
		z-index:997;
		padding:0;
		margin:auto;
		background: white;
		position: fixed;
		top:0;
		width: 100%;
		max-height: 48px;
		right: 0;
	    left: 0;
	    margin-right: auto;
	    margin-left: auto;
	    /* give it dimensions */
	    min-height: 10em;
	    width: 90%;
	overflow: hidden;

	}
	.fixed {
		z-index:997;
		padding:0;
		margin:auto;
		background: white;
		position: fixed;
		top:0;
		width: 100%;
		max-height: 48px;
		right: 0;
	    left: 0;
	    margin-right: auto;
	    margin-left: auto;
	    /* give it dimensions */
	    min-height: 10em;
	    width: 90%;
	}