///
/// Phantom by Pixelarity
/// pixelarity.com @pixelarity
/// License: pixelarity.com/license
///

/* Main */

	#main {
		@include padding(5em, 0, (-5em, 0, 3em, 0));

		@include breakpoint(large) {
			#camera-icon {
				margin-right: 25px !important;
			}
		}
		@include breakpoint(small) {
			//@include padding(3em, 0, (-3em, 0, 3em, 0));
			.imageContainer {
				background-attachment: scroll !important;
			}
			#stateHeader {
				margin: 0 !important;
				div {
					padding: 0;
				}
			}
			.fixed {
				padding-bottom: 20px;
				min-height: 170px;
			}
			.button-container {
				// /top: 10px;
				font-size: 2em;
				margin-right: 0.8em;
			}
		}
		@include breakpoint(xsmall) {
			.button-container {
				top: 30px;
			}
		}
	}
	.margin-0 {
		margin: 0 !important;
	}
	#thisImage {
		transition: all 1s ease-in-out !important;
	}
	.image {
		&:hover {
			#image-coords {
				//display: inline;
			}
		}
	}
	.show-link {
		display: none;
	}
	.gov-link {
		margin-top: 10px;
		width: 100%;
		&:hover {
			.show-link {
				display: block !important;
			}

		}
		span {

		}
		.url-text {
			//font-size: 12px !important;
			letter-spacing: 1px;
		}
	}
	.button-row {
		text-align: center;
		width: 100%;
		margin: 0;
		padding: 0;
		img {
			cursor: hover;
		}
	}
	.button-container {
		position: relative;
		font-size: 1.6em;
		padding: 10px;
		height: 30px;
		width: 30px;
		bottom: 0px;
		z-index: 40;
		cursor: pointer;
	}
	.fa-heart {
		color: #F3CE00;
		-webkit-text-stroke: 2px black;
	}
	.image-coords {
		//display: none;
		margin: auto;
		margin-bottom: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(10,10,10,0.6);
	    //top: -40px;
	    position: relative;
	    color: white;
	    padding: 10px;
	    .fa {
	    	cursor: pointer;
	    	margin-top: 7px;
	    	position: absolute;
	    	bottom: 10px;
	    }
	    .small {
	    	font-size: 9px;
	    }
	    span {
	    	margin: 5px 25px;
	    	
	    	line-height: 1em;
	    	display: block;
	    	overflow: hidden;
	    }
	    .fa-chevron-right {
	    	right: 5px;	
	   	}
	    .fa-chevron-left {
	    	left: 5px;
	    }
	}
	.counties {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		
		input {
			border-bottom: none !important;
		}
	}

	#camera-icon {
		margin-right: 20px;
	}
	.county {
		padding-top:15px;
		h2 {
			letter-spacing: 0;
		}
		//padding-bottom:10px;
		.inner {
    		border-bottom: 1px #ddd solid;
    		height: 100%;
    	}

	}
	.image {
		//transition: opacity 0.5s ease-in-out;
	}
	.state-info {
		margin-left: 2em;
		padding-left: 0;
		
	}
	.imageContainer {
		z-index: 9998;
		max-height: 500px;
		
	}
	#filter-text {
		padding-bottom: 40px;
	}
	.border-bottom {
		border-bottom: 1px solid #ddd;
	}
	#imageText {
		position: fixed;
		width:70%;
	}
	.to-left {
		position:fixed;
		top:0;
		left:0;
		padding:0;
		margin:0;
		z-index: 7999;
	}
	.to-right {
		position: fixed;
		top: 0;
		right: 0;
		padding: 0;
		margin: auto;
		z-index: 7999;
	}
	.go-back {
		position: absolute;
		right: 0;
		top: 0;
	}
	#stateHeader {
		z-index:2000;
		// position: fixed;
		//padding:0;
		padding-top: 10px;
		width:100%;
		margin: 0 auto;
		div {
			padding: 0;
		}

	}
	.logoFixed {
		position: fixed;
		left:0;
		padding:0;
		margin:auto;
		z-index:3000;
	}
	.imageFixed {
		position: fixed;
		z-index:997;
		padding:0;
		//margin:auto;
		background: white;
		//position: fixed;
		top:0;
		width: 100%;
		max-height: 48px;
		right: 0;
	    left: 0;
	    //margin-right: auto;
	    //margin-left: auto;
	    /* give it dimensions */
	    min-height: 10em;
	    width: 100%;
		overflow: hidden;

	}
	.fixed {
		z-index:997;
		padding:0 2.5em;
		margin: 0 auto;
		background: white;
		position: fixed;
		top:0;
		width: 100%;
		max-width: 68em;
		max-height: 48px;
		right: 0;
	    left: 0;
	    //margin-right: auto;
	    //margin-left: auto;
	    /* give it dimensions */
	    min-height: 7em;
	    width: 100%;
	}

	.full-width {
	width: 100% !important;
}
.modal-body {
	padding: 0;
	height: 100%;
}
.padding-0 {
	padding: 0 !important;
}
.appdescription {
	margin-bottom: 1.5em !important;
}
.searchButton {
	height: auto !important;
	line-height: 1em;
	white-space: normal;
	padding: 20px 30px;
	margin-bottom: 10px;
}
.modal-content {
	height: 100%;
}
#moreButton {
	max-width: 24vw;
}
#mapContainer {
	height: 100%;
	margin-bottom: 20px;
	#map {
		min-height: 100%;
	}
}
#inputBox {
	width: auto;
	//max-width: 50%;
	//min-width: 49vw;
}
.userLocation {
	//color: white;
	padding-left: 10px;
	padding-top: 5px;
	font-size: 1.7em;
}
.panel {
	margin-bottom: 0 !important;
}
.modal-dialog {
  display: inline-block;
  min-width: 50%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 3;
  border: none;
  img {
	margin: auto;
	max-width: 100%;
	height: auto;
	max-height: 90%;
  }

}
.modal-content {
	text-align: center;
	box-shadow: none !important;
	border: 0;
}
#close-button {
	position: absolute;
	font-size: 30px !important;
	top: 20px;
    right: 20px;
    padding: 10px;
    color: #eeeeee;
    background-color: rgba(10,10,10,0.6);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transition: all .5s ease-in-out;
    &:hover {
    	color: white;
		cursor: pointer;
    }
}
#card-image-container {
	height: auto;
	min-height: 300px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
#modal-image-container {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    padding-top: 0px;
    background-repeat: no-repeat;
    background-size: contain;
	background-position: center center;
	transition: all 1s ease-in-out;
}
#image-info {
	position: absolute;
	background: rgba(10,10,10,0.75);
	color: #fff;
	width: 100%;
	bottom: 20px;
	min-height: 100px;
	height: auto;
	padding: 5px 50px;
	.title {
		font-size: 30px;
		line-height: 1.2em;
		margin-bottom: 10px;
		word-break: break-all;
	}
	.description {
		font-size: 15px;
	}
	.fa {
		position: absolute;
		top: 10px;
		//margin-top: -20px;
		color: #fff;
		font-size: 30px;
		padding: 10px;
		cursor: pointer;
	}
	.prev-arrow {
		left: 5px;
	}
	.next-arrow {
		right: 5px;
	}

}
.modal-backdrop.in {
	opacity: 0.9 !important;
}
.modal-dialog {
	margin-top: 0;
}
#inputBox {
	min-width: 20em;
	width: auto;
}

@include breakpoint(small) {
	#modal-image-container {
		position: absolute;
		height: 100vh;
		width: 100vw;
		padding-top: 58px;
		margin: auto;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
	#inputBox {
		min-width: 250px;
	}
	#close-button {
		display: none;
	}
	.modal-dialog {
		margin: 0 !important;
	}
	#header {
		.field {
			text-align: center;
		}
	}
}
@include breakpoint(xsmall) {
	#header {
		.field {
			text-align: center;
		}
	}
	#inputBox {
		min-width: unset;
	}
	#modal-image-container {
		position: absolute;
		height: 100vh;
		width: 100vw;
		padding-top: 58px;
		margin: auto;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
	#close-button {
		display: none;
	}
	.modal-dialog {
		margin: 0 !important;
	}
}
